{% extends "main/base.html" %}
{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Musicify</h1>
    <p class="lead text-start">
        Musicify is your ultimate destination for discovering personalized music recommendations tailored to your unique taste. Powered by cutting-edge technology and the vast Spotify library, Musicify delivers curated playlists and song suggestions that resonate with you.
    </p>
    <hr class="my-4">
    <h1 class="display-6">Features</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Personalized Recommendations</h2>
            <p class="text-start">Receive recommendations based on your listening history, favorite genres, and artist preferences.</p>
        </div>
        <div class="col-md-4">
            <h2>User Authentication</h2>
            <p class="text-start">Create an account to save your preferences, access personalized playlists, and enjoy a seamless music discovery experience.</p>
        </div>
        <div class="col-md-4">
            <h2>Social Integration</h2>
            <p class="text-start">Connect with friends, share playlists, and discover new music together through social login options.</p>
        </div>
    </div>    
    <p>Powered by cutting-edge technology and the vast Spotify library, Musicify delivers curated playlists and song suggestions that resonate with you.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
</div>
{% endblock content %}