{% extends "main/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			{% if context %}
            <ul>
                {% for track in context %}
                    <li>
                        <strong>Title:</strong> {{ track.title }}<br>
                        <strong>Artist:</strong> {{ track.artist }}<br>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No recommendations available.</p>
        {% endif %}
		</div>
	</div>

{% endblock content %}