{% extends "main/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			{% if recommended_tracks %}
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in recommended_tracks %}
                        <tr>
                            <td>{{ track.title }}</td>
                            <td>{{ track.artist }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No recommendations available.</p>
        {% endif %}
		</div>
	</div>

{% endblock content %}