{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="vh-100">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                
                                <form method="POST">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <h2 class="text-uppercase text-center mb-5">Login</h2>
                                        {{ form|crispy }}
                                    </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-success" type="submit">Login</button>
                                    </div>
                                </form>
                                <div class="border-top pt-3">
                                    <small class="text-muted">
                                        Don't Have An Account? <a class="ml-2" href="{% url 'users-register' %}">Sign Up</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}