.nav-wrapper {
  background-color: #ffc107;
}

.brand-logo {
  margin-left: 20px;
  margin-top: -1%;
}

.container {
  margin-top: 20px;
}

.card {
  margin: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.2rem;
  color: #333;
}

.range-field {
  padding: 20px 0;
}

.input-field {
  margin-bottom: 20px;
}

.gfg {
  margin-left: 40%;
  font-size: 45px;
  font-weight: 700;
  color: green;
}

.card-content {
  text-align: center;
}

#web {
  margin-left: 85%;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 9px;
  background-color: rgb(235, 100, 100);
}

.JT {
  margin-top: -10%;
  font-size: 23px;
  color: black;
  font-weight: 400;
}

.ex {
  margin-top: 2%;
}

#oooo {
  background-color: red;
  margin-left: 1600px;
}

.ex23 {
  font-size: 17px;
}

.gfg1 {
  color: rgb(78, 71, 71);
  font-size: 25px;
  font-weight: bold;
}

.gfgd {
  color: gray;
}

.btn {
  padding: 0px 10px;
  font-weight: bold;
}